# Environment
ENVIRONMENT=development

# Public values
PUBLIC_SITE_BASE_URL=http://localhost:3000
PUBLIC_SOCKET_IO_GATEWAY_URL=http://localhost:5001

# Private values
API_BASE_URL=http://localhost:4000/api/v1
SOCKET_IO_GATEWAY_URL=http://localhost:5001
